@page
@model ListBook.Pages.ListBooks.EditBookModel
@{
}
<br />
<h1 class="text-info">
    ویرایش کتاب || "@Model.book.Name"
</h1>
<hr />
<div class="border container " style="padding:30px">
    <form method="post">
        <div asp-validation-summary="All">
        </div>
        <input type="hidden" asp-for="book.Id" />
        <div class="form-group row">
            <div class="col-4 text-right">
                <label asp-for="book.Name">

                </label>
               

               
            </div>
            <div class="col-6">
                <input asp-for="book.Name" />
                 <span asp-validation-for="book.Name"></span>

            </div>
            <div class="col-4 text-right">
                <label asp-for="book.Auther">

                </label>
                
            </div>
            <div class="col-6">
                <input asp-for="book.Auther" />
                 <span asp-validation-for="book.Auther"></span>
            </div>
            <div class="col-4 text-right">
                <label asp-for="book.ISBN">

                </label>
                 
            </div>
            <div class="col-6">
                <input asp-for="book.ISBN" />
                <span asp-validation-for="book.ISBN"></span>
            </div>
            <div class="col-4 text-right">
                
            </div>
            <div class="col-6">
                <input class="btn btn-outline-success" type="submit" value="ویرایش" />
                <a class="btn btn-link" asp-page="Index">
                    بازگشت به لیست
                </a>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}